.InfoJugador {
    background-color: rgba(0,0,0,0.3);
    width: 250px;
    height: 160px;
    font-family: Arial;
    color: #fff;
    text-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    text-align: center;
}
.InfoJugador h5,h4{
    line-height: 0px;
    
}

.img{
    padding-left: 10%;

}
.BarraVida{
    background-color: rgb(8, 201, 8);
    height: 100%;
}
.BordeVida{
    margin-left: 5%;
    border-style: solid;
    width: 90%;
    height: 10%;
    background-color: rgba(102, 100, 100, 0.4);
    border-color: black;
}

.Plataforma{
    border-radius: 50%;
    background-color: #d89a9a;
    width: 100%;
    height: 2rem;
    box-shadow: 0 0 0.5rem 0.5rem #be7e7e;
    transform: rotateX(60deg) ;
    transform-origin: 0 0;
}

@keyframes centro {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0);
    }   
    
}

@keyframes curva {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(0);
    }
}
    
